<!DOCTYPE>
<html>
<head>
	
	<!-- jQuery -->
	<script src ="http://code.jquery.com/jquery-1.11.1.js"></script>
	
	<!-- Google -->
	<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC9fjLg9UIYuNHCxwI39Qdg6TKPI5pr3ZI&libraries=geometry,visualization&sensor=true"></script>

	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'main/css/main.css' %}"></link>
    <link rel="stylesheet" href="{% static 'common/css/master.css' %}"></link>
    <script src="{% static 'main/js/main.js' %}"></script>

</head>
<body>
    <div class="left sidebar">mappy</div>
    
	<div id="map-canvas"></div>
    
	<script id="infowindow-template" type="text/template">
		<div style="width:300px">New Post</div>
		<br/>
		<div>
			<label for="title">Title</label>
			<input name="title" type="text"/>
		</div>
		<div>
			<label for="description">Description</label>
			<input name="description" type="text"/>
		</div>
	</script>
</body>
</html>